body {
    /* background-color: #12253F;
    color: aliceblue; */
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    /* text-align: center; */
}

#show{
    display: grid;
    grid-template-columns: 23% 23% 23% 23%;
}

figure{
    display: flex;
    flex-direction: column;
}

figure img{
    height: 80px;
    width: 80px;
    background-color: aqua;
}

img{
    height: 60px;
    width: 60px;
    
}

table{
    margin: 3rem;
    width: 60%;
    border-collapse: collapse;
}

td, th{
    border: solid black 1px;
    padding: 5px;
}

